<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>Given user is on login screen</div><div  class="teststeppass"><span class="teststeppass-label">T </span>When user login with username 'raj.shah' and password 'raj.shah'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>Then Verify user is on Home Screen</div><div  class="teststeppass"><span class="teststeppass-label">T </span>Then logout form web portal</div></div></td></tr>
</table>